body{
  position: absolute;
  margin:3px;
  z-index: -1;
  background-image: url(./images/mounts.jpg);
  object-fit: cover;
  color: rgba(255, 255, 255,0.8);
  background-position: cover center ;
  /* background-repeat: no-repeat; */
}

.search{
  width: 95vw;
  margin: 10px;
   display: flex;
   align-items: center;
   justify-content: center;


  
}

.container{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
  width: 99.3vw;
  height:85vh;
  /* background-color: black; */
  margin-left: 3px;
}

.it{
  
  border-radius: 500px;
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255,0.2);
}
::placeholder{
  font-weight: 600;
  text-align: center;
  /* font-size: ; */
  color: rgb(61, 58, 58,0.7);
}

.city-details{
  max-width: 500px;
  max-height: 500px;
}
.desc{
  margin-right: 0px;
  font-size: xx-large;
  /* background-color: ; */
  /* width: 100%; */
  /* background-color: black; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.desc span{
  /* float: right; */
  font-size: 40px;
  margin-right: 0px;
  font-weight: 400;
  text-transform: capitalize;
  transform: rotate(270deg);
  padding: 0px;
  position: fixed;
  /* right: -70px; */
   font-size: 30px;
  margin-bottom: 0px;
}

.hint{
  width:95vw;

  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: rgb(255, 255, 0,0.8);
  font-size: 15px;

}
.weather{
  font-size: 50px;
  font-style: bold;
  color: rgba(255,255,255,0.9);
}
.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.card-heading{
  font-size: 14px;
}

.desc{
  /* background-color: ; */
  width: 100%;
}



.card{
  background-color: rgba(255, 255, 255,0.2);
  padding: 10px;
 
  /* width: 20vw;
  height: 20vh; */
  /* width:95px;
  height: 100px; */

  
  font-size: small;
  margin-right: 10px;
  border-radius: 10%;
  color: rgb(255, 255, 255);
}

.card p{
  font-size: 18px;
}

.backdrop{
  width:500px;
  /* height: 0px; */
}

.back{
  background-color: black;
}


